img {
	margin: 5px;
	padding: 5px;
}

button {
	border: solid 2px;
	margin: 5px;
	padding: 5px;
	background-color: white;
	text-align: center;
	font-size: 20px;
}

button:hover {
	cursor: pointer;
	background-color: whitesmoke;
}

.selected {
	background-color: grey;
	color: white;
}